body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
    "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic,
    "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

h1 {
  color: blueviolet;
}
.first-message {
  color: brown;
  background-color: cyan;
}

#gnav {
  padding: 10px;
  font-family: "Open sans", sans-serif;
  z-index: 100;
}
#gnav ul {
  display: flex;
}
