h1 {
  color: blueviolet;
}
.first-message {
  color: brown;
  background-color: cyan;
}
#header {
  height: 480px;
  background-size: auto 100%;
  background-image: url(redstymtC008_TP_V.jpg) center center;
}
