h1 {
  color: blueviolet;
}
.first-message {
  color: brown;
  background-color: cyan;
}
.forest-image {
  height: 480px;
  background-size: auto 100%;
  background: url(../img/header/11945.jpg) center center;
}
